#Habilita a reescrita de url para url's amigáveis e direciona para pasta public

<IfModule mod_rewrite.c>
    RewriteEngine On
     RewriteBase /desafio_leo/public/
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteRule ^(.*)\?*$ index.php?_route_=$1 [L,QSA]
     RewriteCond %{THE_REQUEST} public/([^\s?]*) [NC]
     #RewriteRule ^ %1 [L,NE,R=302]
     RewriteRule ^((?!public/).*)$ http://localhost/desafio_leo/$1 [L,NC]

    #Ao enviar para o servidor, substituir a linha acima pela linha abaixo
    #RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>

#Rediona a URL para HTTPS. Descomentar quando enviar par ao servidor
#RewriteCond %{HTTPS} !=On
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

#Desabilita a listagem de arquivos do diretório
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

#Verifica se há uma versão mais atual do arquivo do que a que está em cache.
Header unset Etag

#FileEtag Mtime size
FileETag None
Header unset Last-Modified
